@import "@app/variables";

.button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 44px;
  text-transform: uppercase;
  color: $text-contrast;
  font-weight: 800;
  padding: 0 32px;
  box-sizing: border-box;

  svg {
    height: 36px;
    width: 36px;
    fill: transparent;
    stroke: white;
  }
}

.primary {
  background-color: #d02129;
  box-shadow: 0 5px 9px 0 rgba(160, 57, 57, 0.25);
}

.secondary {
  background-color: #0d50cc;
  box-shadow: 0 5px 9px 0 rgba(57, 66, 160, .25);
}

.transparent {
  background-color: transparent;
  //border: 1px solid black;

  svg {
    fill: $text-main;
    stroke: $text-main;
  }
}

.round {
  border-radius: 24px;
}

.rounded {
  border-radius: 8px;
}