@import "@app/variables.scss";

.title {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}


.items {
  display: none;

  &.level0 {
    display: flex;
    flex-direction: column;
  }

  .expanded {
    display: flex;
    flex-direction: column;
  }
}

.item {
  &.level1, .items {
    position: static;
  }
}


@media screen and (min-width: $md) {
  .items.level0 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .items.level1 {
    position: absolute;
  }

  .item.level1 {
    position: relative;
    /* при наведении на элемент меню первого уровня его дочерние становятся видимыми */
    &:hover {
      & > .items {
        display: flex;
        flex-direction: column;
      }
    }

    /* баз наведения на элемент первого уровня его дочерние будут скрыты даже с установленным классом .expanded */
    &:not(:hover) > .items {
      display: none;
    }
  }

}


