@import "@/app/variables.scss";

.menuItems {
    display: none;
}

.menuItems .expanded {
    display: flex;
    flex-direction: column;
}

.menuItemsLevel0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menuItemLevel1 {
    position: relative;
}

.menuItemsLevel1 {
    position: static;
}

@media screen and (min-width: $md) {
    .menuItemsLevel0 {
        flex-direction: row;
    }

    .menuItemsLevel1 {
        position: absolute;
    }
}

