@import "@app/variables";

.catalogCard {
  padding: 24px;
}


.features {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  gap: 16px;
}

.details {
  font-size: 14px;
  line-height: 24px;
  color: $text-secondary
}

.image {
  position: relative;
}

.topBadges {
  position: absolute;
  top: -8px;
  left: -8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

