@import "@app/variables";

.catalogCard {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  width: 329px;
  position: relative;
  box-sizing: border-box;

  &:hover {
    .actions {
      display: flex;
    }
    .detailsButton {
      display: flex;
    }
  }
}


.features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
}

.hasDiscount {
  border-radius: 8px;
  background-color: #fff0f0;
}

.oldPrice {
  position: relative;
  color: $text-secondary;
  &:after {
    position: absolute;
    display: block;
    content: "";
    min-height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    background-color: $bg-contrast;
  }
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
}

.details {
  font-size: 14px;
  line-height: 24px;
  color: $text-secondary;
  font-weight: 600;
}

.image {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.topBadges {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.actions {
  display: none;
  gap: 16px;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -58px;
  width: 100%;
  padding: 24px 16px 16px 16px;
  z-index: 50;
  box-shadow: 0 15px 15px 0 rgba(143, 146, 153, .2) !important;
  border-radius: 0 0 8px 8px;
}

.bottomBadge {
  position: absolute;
  right: 0;
  bottom: 0;
}

.favoritesButton, .compareButton {
  padding: 0 !important;
  width: 32px;
  height: 32px;
}

.detailsButton {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}